* {
  margin: 0;
  padding: 0;
}

/* html,
body {
  position: relative;
  width: 100%;
  height: 100%;
} */

body {
  color: #000;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
}

@font-face {
  font-family: 'Komikula';
  src: url('Komikula.woff2') format('woff2'), url('Komikula.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
